body {
  padding-top: 50px;
}
.starter-template {
  padding: 10px 0px;
  margin: 0px;
  text-align: center;
}

#carte {
	margin-left: 0 auto;
	margin-right: 0 auto;
	position:relative;
	width:100%; 
	height:516px;
	border-radius:0%

}

#gauche {
	text-align: left;
	border: 1px solid black;
	height:516px;
}

#droite {
	text-align: left;
	border: 1px solid black;
	height:516px;
	
}

